.header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

.header h1{

font-size:34px;

}

.header p{

color:#6b7280;

margin-top:6px;

}

.header-right{

display:flex;

gap:20px;

align-items:center;

}

.search-box{

display:flex;

align-items:center;

gap:10px;

background:white;

padding:12px 18px;

border-radius:12px;

box-shadow:0 10px 20px rgba(0,0,0,.08);

}

.search-box input{

border:none;

outline:none;

font-size:15px;

}

.notification{

width:48px;

height:48px;

border:none;

border-radius:50%;

background:white;

box-shadow:0 10px 20px rgba(0,0,0,.08);

cursor:pointer;

}

.profile{

width:50px;

height:50px;

background:#2563EB;

color:white;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-weight:700;

}